/*===================================================================*/
/*==================== CUSTOM INPUTS ================================*/
/*===================================================================*/

/*Input princiapl*/
input.searchMain
{
    background: rgb(218, 218, 218);
    border: none;
    border-radius: .3rem;
    padding: 0 1.5rem 0 1.5rem;
    outline: none;
    color: #000;
}
input.searchMain::placeholder
{
    color: rgb(59, 59, 59);
}